*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-image: url(IMG_20220111_161202.jpg) ;
    background-size: cover;
    background-repeat: repeat;
}
header{
    background: #A3AE7E;
    padding: 20px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-left: 5px;
}
header ul{
    float: right;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
#check{
    display: none; 
}

@media (max-width: 530px){
    label.logo{
        font-size: 20px;
        padding-left: 5px;
    }
    header{
        padding:1px;
    } 
}
@media(max-width: 760px){
    .checkbtn{
    display:block;
    }
     header ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background-color: #d8e9a1;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: block;
        z-index: 1;
    }
    header ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background-color: none;
        color:grey;
    }
    #check:checked ~ ul {
        left:0;   
    }   
    
}

main{
    width:100%;
    margin: 0 auto;
    margin-bottom: 8rem;   
    margin-top:15px;
    width: 95%;
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.644);
    padding: 30px;
    text-align: left;
    letter-spacing: 2px;
}

main h1 {   
    text-align:center;
}
footer {
    color: white;
    position: fixed;
    bottom:0;
    background-color: #A3AE7E;
    padding: 20px;
    width: 100%;      
}
a:hover,a.active{
    background-color: none;
    color: grey;

}
h2{
    text-align: center;
}
video{
    display: block;
    margin: 1em auto;
    width: 95%;
    height: calc(.5625*80vw);
    max-width: 1280px;
    max-height: 720px;
    min-width: 320px;
    min-height: 180px;
}
#iso{
width: 75%;
height: 75%;
}
#pieni{
    width: 20%;
    height: 20%;
}
